
              @font-face {
                font-display: swap;
                font-style: normal;
                font-family: MontserratAlternates;
                font-weight: 400;
                src: url("../fonts/MontserratAlternates.woff2") format("woff2"),
                     url("..fonts/MontserratAlternates.woff") format("woff");
              }

            
              @font-face {
                font-display: swap;
                font-style: normal;
                font-family: MontserratAlternates;
                font-weight: 400;
                src: url("../fonts/MontserratAlternates.woff2") format("woff2"),
                     url("..fonts/MontserratAlternates.woff") format("woff");
              }

            
              @font-face {
                font-display: swap;
                font-style: normal;
                font-family: MontserratAlternates;
                font-weight: 600;
                src: url("../fonts/MontserratAlternates.woff2") format("woff2"),
                     url("..fonts/MontserratAlternates.woff") format("woff");
              }

            
              @font-face {
                font-display: swap;
                font-style: normal;
                font-family: OpenSans;
                font-weight: 400;
                src: url("../fonts/OpenSans.woff2") format("woff2"),
                     url("..fonts/OpenSans.woff") format("woff");
              }

            
              @font-face {
                font-display: swap;
                font-style: normal;
                font-family: OpenSans;
                font-weight: 800;
                src: url("../fonts/OpenSans.woff2") format("woff2"),
                     url("..fonts/OpenSans.woff") format("woff");
              }

            
              @font-face {
                font-display: swap;
                font-style: normal;
                font-family: OpenSans;
                font-weight: 400;
                src: url("../fonts/OpenSans.woff2") format("woff2"),
                     url("..fonts/OpenSans.woff") format("woff");
              }

            
              @font-face {
                font-display: swap;
                font-style: normal;
                font-family: OpenSans;
                font-weight: 400;
                src: url("../fonts/OpenSans.woff2") format("woff2"),
                     url("..fonts/OpenSans.woff") format("woff");
              }

            